@import '../../../app/styles/reset.css';
@import '../../../app/styles/root.css';

.sidebar {
    width: 250px;
    height: 100vh;
    padding: 30px;
    border-right: 1px solid #e0e0e0;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user__avatar {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.user__info {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.user__email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #9ea1b1;
}

.sidebar__links {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.sidebar__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.logout {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px;
    box-shadow: 0 10px 30px 0 rgba(254, 114, 76, 0.2);
    background: #fe724c;
    border-radius: 29px;
    margin-top: 300px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}