.header{
    padding-top: 40px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__filter{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__filter h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #000;
}

.header__filter button{
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 9px 12px;
    border: 1px solid #efefef;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    color: #9aa0b4;
}

.header__search{
    border: 1px solid #efefef;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 18px;
    max-width: 256px;
    width: 100%;
}

.header__search input{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #9aa0b4;
    width: 100%;
}

.product__cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 45px;
}